.heading-1 {
	@include typography(2rem, 2rem, 3rem, 3rem, 5.6rem, 5.8rem);
	letter-spacing: 0.2rem;
}

.heading-2 {
	@include typography(2.8rem, normal, 4rem, 4.4rem);
	@include letter-spacing(0.1rem, 0.1429rem)
}

.heading-3 {
	@include typography(3.2rem, 3.6rem);
	letter-spacing: 0.115rem;
}

.heading-4 {
	@include typography(2rem, 2rem, 3rem, 3rem, 2.8rem, 3.8rem);
	letter-spacing: 0.2rem
}

.heading-5 {
	@include typography(2.4rem, 3.3rem);
	letter-spacing: 0.17rem;
}

.heading-6 {
	@include typography(1.8rem, 2.4rem);
	letter-spacing: 0.13rem;
}

.body-regular {
	@include typography(1.5rem, 2.5rem);
}

.body-overline {
	@include typography(1.4rem, normal);
	letter-spacing: 1rem;
}

.body-subtitle {
	@include typography(1.3rem, 2.5rem);
	letter-spacing: 0.1rem;
}